<% content_for :title do %>About<% end %>
<div class="content container">
      
<div class="section">
    <p>
Uffda was founded in Fall of 2013, with the vision is to make the experience of sharing content easier. We choose the word uffda to describe the experience that you feel when you discover something new. Uffda!
    </p>
</div>
<div class="section">
    <h3>The word uffda</h3>
   <p>
A multi use exclamation. ( OOF - dah )
</br>
<span class="italic">
Comes from immigrants from Scandinavia during the early part of the 20th century. If you are surprised you say "Uffda", if you are disgusted you say "Uffda", over worked? "Uffda”  - <a href="http://www.urbandictionary.com/define.php?term=uff%20da">Urban Dictonary</a>
</span>
</p>
</div>

</div>
