<% content_for :title do %>About<% end %>
<div class="content container">
      
<div class="section">
    <h2>About Uffda</h2>
   	<p>
   		Uffda was founded in the Fall of 2013 to help people privately share articles, videos and more from around the web. Quickly share with one click or swipe. Only the friends you choose to share with, will receive the content.   
	</p>
</div>
<div class="section">
    <h2>The Word Uffda!</h2>
   	<p>
   		A multi use exclamation. ( OOF - dah )
		</br>
		<span class="italic">
			Comes from immigrants from Scandinavia during the early part of the 20th century. If you are surprised you say "Uffda", if you are disgusted you say "Uffda", over worked? "Uffda”  - <a href="http://www.urbandictionary.com/define.php?term=uff%20da">Urban Dictonary</a>
		</span>
	</p>
</div>
<div class="section">
    <h2>The Team</h2>
   	<p>
   		Our team is dedicated to improving the way in which we privately share content. We are a small team based in Sarasota, Fl overlooking the beach. We are always looking for smart people, email us at jobs@uffda.me.  
	</p>
</div>

</div>
