<% content_for :title do %>Blog<% end %>

<div class="content container">
      <ul id="posts">
        <li class="post ">
          <div class="post-body text-post">
            <h2>Jelly Goes (RED)</h2>
            <h3 class="permalink">
                  <a title="10 notes" href="http://blog.jelly.co/post/76231350518/jelly-goes-red">Feb 10th, 2014</a>
            </h3>
            <p><img alt="image" src="https://31.media.tumblr.com/8b4b2e893f209fcb842b7006384e98c9/tumblr_inline_n0rrgggo521rj3evj.png"></p>
<p>In 2010, 986&nbsp;babies were born daily with HIV. In 2012, that number was 700. By 2015, we hope it’s close to zero. With access to lifesaving antiretrovirals, the transmission of HIV from moms to their babies can be stopped. An AIDS free generation is in sight. The question isn’t, “Can we?” It’s, “Will we?”</p>
<p>The team at (RED) has long held my deep respect for their ability to see the immense power of collective action. The folks at (RED) found a way to harness our everyday choices—from downloading a song, to buying a T-shirt, such that they add up to a whole far greater than the sum of its parts.<br><br>Jelly exists because the world is the most connected it has ever been and the true promise of a connected society is people helping each other. When you get help from another person on Jelly, you tap “Thanks!” and that person receives a Thank You Card for taking the time to answer your query.<br><br>All this week, today through Friday, Thank You Cards are (RED). For every Thank You Card generated across the Jelly system, $1 will be donated to help continue the fight for an AIDS free generation. We’re fond of saying, “Jelly helps people.” We could not be happier to say it together with (RED).<br><br>—Biz Stone, Co-Founder and CEO</p>
<p>p.s. Follow <a href="http://twitter.com/red">@red</a> on Twitter and visit <a href="http://red.org">red.org</a> to learn more about the fight against AIDS.</p>
          </div>
        </li>
    </ul>
</div>
