<% content_for :title do %>Contact<% end %>
<div class="content container">

<br/>
<br/>
<br/>
<div class="section">
    <h3 style="font-size: 28px; text-align: center; margin-left: -80px;">Contact Uffda</h3>

	    <ul class="contact-list">
	    
	      <li class="nav-item">
	        <a class="email-link icon-link nav-link" href="mailto:support@uffda.me" target="_blank">support@uffda.me</a>
	      </li>
	    
	      <li class="nav-item">
	        <a class="twitter-link icon-link nav-link" href="https://twitter.com/uffdaapp" target="_blank">@uffdaapp</a>
	      </li>
	    
	      <li class="nav-item">
	        <a class="facebook-link icon-link nav-link" href="https://www.facebook.com/uffdaapp" target="_blank">Uffda</a>
	      </li>
	    
	      <li class="nav-item">
	        <a class="email-link icon-link nav-link" href="mailto:press@uffda.me" target="_blank">press@uffda.me</a>
	      </li>
	    
	      <li class="nav-item">
	        <a class="download-link icon-link nav-link" href="https://www.uffda.me/sh/asdfasdfasdfasdf" target="_blank">Download our press kit here</a>
	      </li>
	    
	    </ul>
    
</div>

</div>