<% content_for :title do %>Jobs<% end %>
<div class="content container">
          



<div class="section">
    <h2>Jobs</h2>
    <p>
Uffda is a small team dedicated to improving the way in which we privatley share content. Our focus is to deliver technology that improves the experience of sharing and the consumption of content.
    </p>
    <p>
            Wanna help us? Send your resumé to <a href="mailto:jobs@uffda.me">jobs@uffda.me</a>
    </p>
</div>

<div class="section">
    <h2>Current openings</h2>
    <p>
        </p><ul>
            
            <li>Back-End Engineer</li>
            <li>iOS Engineer</li>
            <li>Product Designer</li>
            <li>Growth Hacker</li>
        </ul>
    <p></p>
</div>
</div>


