<% content_for :title do %>Press<% end %>
<div class="content container">
          
<div class="section">
    <h2>Downloads</h2>

    <ul class="image-grid download">
      
        <li class="downloadable-image">
            <%= image_tag("uffda_logo@2x.png") %>
            <h4>White on Teal</h4>
            
                <a href="//dpy9sntq9t470.cloudfront.net/jellyco/files/JellyLogo-WhiteOnTeal.png">png</a>
            
                <a href="//dpy9sntq9t470.cloudfront.net/jellyco/files/JellyLogo-WhiteOnTeal.eps">eps</a>
            
        </li>
      
    </ul>
</div>
<div class="section">
    <p>For inquiries, please e-mail <a href="mailto:press@uffda.me">press@uffda.me</a></p>
</div>
<div class="section">
</div>

</div>


