// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
   margin: 0 auto;
   display: inline;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
color: #999999;
font-size: 16px;
text-shadow: 0 1px 3px rgba(255, 255, 255, 0.05);
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
.container {
  @extend .container;
//  background-color: #eee;
//  padding-bottom: 80px;
//  width: 100%;
//margin-top: 50px;
  // accommodate the navbar
  }
.section {
  text-align: left;
  }
  
 .section:last-child  {
  padding-bottom:60px;
 } 

.navbar {
  @extend .navbar;
  background-color: #665bab;
  border-color: #5C529B;
}
.navbar .navbar-nav > li > a {
  color: #D1CBF7;
  background: transparent;
}
.navbar-inverse {
  @extend .navbar-inverse;
  background-color: #FAFAFA;
  border-top: 1px solid #F8F8F8;
}
.navbar-inverse .navbar-nav > li > a {
  color: #A7A7A7;
  text-shadow: 0 1px 3px rgba(255, 255, 255, 0.05);
}
a:hover {
  color: #F9F9FF; 
}
.pulling-right {
    margin-left: 30%;
}

.shrink-text {
    width: 100%;
    height: 40px;
}

.footerList {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

.footerList .footerLink a {
   color: #fff;
}

.footerLink {
    display: inline-block;
    padding: 8px;
}
.content {
  padding-top: 40px;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { 
 padding: 10px 15px;
 width: 110px;
}

.italic {
  font-style: italic;
}

.social{
  width:90px;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%; 
}

//////////////////////
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #64BD77;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #5E5691;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.05);
  box-shadow: inset 0 0 100px rgba(0,0,0,.05);
  font-size: 16px;
}
p {
  font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 1.5;
  word-spacing: 0.1rem;
}
section:first-child{
  margin-top: 50px;
}

.logo-header{
   font-weight: 400;
   font-family: 'Open Sans', sans-serif;
   letter-spacing: 0.2px;
   word-spacing: 3px;
   font-size: 44px;
}
h1 {
  color: #494949;
  margin-top: 40px;  
}
h2 {
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.2px;
  word-spacing: 3px;
  color: #665bab;
  margin-top: 50px;
}
h2 .first { margin-top: 0 !important;  }
h3 {
  margin-top: 50px;
}
ul{ 
  list-style-type: none;
  
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  color: #fff;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  background-size: cover;
  overflow: hidden;
  background-color: #665bab;
  background-image: asset_url("backgroundImage.png");
  //background-image: url(https://s3.amazonaws.com/ooomf-com-files/7erBZvZMQ2mmuFQ10vcA_IMGP4512.jpg);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  background-image: linear-gradient(rgba(85, 75, 153, 0.93) 0px, rgba(96, 86, 165, 0.95) 100%);
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}
.container {
  width: 600px;
}

/* Padding for spacing */
.inner {
}

.logo_border{
  padding: 20px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 24px;
  width: 170px;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}
.navbar-nav {
  float: right;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 570px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  .shrink-text {
    margin-left: 23%;
    margin-right: 23%;
    width: 54%;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 600px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 520px;
  }
}
@media (max-width: 570px) {
  /* Pull out the header and footer */
   .shrink-text {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  img {
    margin-top: 2px;
  }
  h4 {
   margin-top: 0px;
   margin-right: 20px;
   font-size: 13px;
  }
  h2 {
   font-size: 20px;
   margin-top: 0px;
  }
}


/*
 * Show Page
 */
.show-container{
  width: 850px;
  height: 550px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  margin-bottom: 20px;
  display: block;
}
.show-content-container {
  width: 350px;
  height: 500px;
  background-color: #fff;
  float: right;
  border-radius: 0px 5px 5px 0px;
}
.show-image-container{
  width: 500px;
  height: 500px;
  float: left;
}
.show-image{
  width: 100%;
  height: 100%;
  border-radius: 5px 0px 0px 5px;
}
.show-content-p{
  padding: 30px;
}
.show-content-p-center{
  padding: 30px;
  padding-top: 130px;
}
.show-title{
  font-weight: bold;
  color: #292f33;
  font-size: 16px;
  text-align: left;
  margin-bottom: 8px;
}
.show-subtitle{
  color: #292f33;
  font-size: 16px;
  text-align: left;
  margin-bottom: 5px;
}
.show-date{
  color: #999;
  font-size: 15px;
  text-align: left;
}
.show-from-image{
  width: 48px;
  height: 48px;
  border-radius: 24px;
  float: left;
}
.show-from-title{
  color: #292f33;
  font-size: 16px;
  text-align: left;
  margin-top: 50px;
  font-weight: bold;
}
.show-footer-message{
  color: #999;
  font-size: 16px;
  font-weight: bold;
  display: inline;
  padding-right: 5px;
}
.show-footer-logo{
  width: 92px;
  display: inline;
  line-height: 45px;
}
.show-footer-image{
  width: 92px;
  margin-top: -10px;
}
.show-footer-button{
  width: 160px;
  height: 42px;
  color: #fff;
  line-height: 42px;
  display: inline-block;
  border-radius: 75px;
  background-color: #665bab;
  margin-right: 10px;
  margin-left: 10px;
}
.show-header-mobile{
  float: right;
  color: #fff;
  font-size: 18px;
  width: 130px;
  margin-right: 20px;
  line-height: 54px;
}
@media (min-width: 600px) {
  .show-header{
      visibility:hidden;
  }
  .show-footer{
      visibility:visible;
  }
}
@media (max-width: 600px) {
  .show-header{
      visibility:visible;
  }
  .show-footer{
      visibility:hidden;
  }
  .show-content-container {
    float: left;
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 0px 0px;
  }
  .show-container{
    width: 100%;
    height: 100%;
  }
  .show-image-container{
    width: 100%;
    height: 320px;
    float: left;
  }
  .show-content-p-center {
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .show-content-p {
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 24px;
  }
  .show-from-title {
    margin-top: 15px;
    margin-left: 60px;
    margin-bottom: 12px;
    font-style: italic;
  }
}