<%# add navigation links to this file %>

<li><%= link_to 'Terms', page_path('terms') %></li>
<li><%= link_to 'Privacy', page_path('privacy') %></li>
<li><%= link_to '@uffdaapp', page_path('about') %></li>

